<body>
    <div class="container">
      
           <div class="text-center page-containt">
            <p>This app offers mobility solutions by connecting customers to drivers and a wide range of vehicles across taxis and cabs, enabling convenience and transparency for hundreds of millions of consumers and over 1.5 million driver-partners.This app is looking to build mobility for the next billion Indians.<br> This system is build by <b>Shubham Jadhav</b> and <b>Priyanka Mahajan.</b> people can go from one place to another place, i.e. from source to destination.</p>
            <br><br>
            <img src="../assets/images/mainimg3.png" class="rounded img "> &nbsp;
            
          </div>
        
    </div>
      </body>
    <!-- <div class="bg" [style.background]="'url(../assets/images/background.png)'">
        <img src="../assets/images/sp.png" class="rounded mx-auto d-block" style="padding-top: 30px">
    </div> -->