<body>
    <div class="container">
      
           <div class="text-center page-containt">
            <label class="text-font">Book your</label><br>
            <img src="../assets/images/mainimg1.png" class="rounded img "> &nbsp;
            <label class="text-font">cab</label>
          </div>
        
    </div>
      </body>
    <!-- <div class="bg" [style.background]="'url(../assets/images/background.png)'">
        <img src="../assets/images/sp.png" class="rounded mx-auto d-block" style="padding-top: 30px">
    </div> -->