<body>
    <div class="container">
      
           <div class="text-center page-containt">
            <h1><b>Address</b></h1>
            Savitribai Phule Pune University,<br>Department of Computer Science,<br>Ganeshkhind, Pune 411 007
            <br><br><br><br>
            <h1><b>Social Links</b></h1>
            <br>
            <img src="../assets/images/facebook.png" height="60" width="90">
            <img src="../assets/images/insta.png" height="60" width="70"> &nbsp;&nbsp;&nbsp;
            <img src="../assets/images/youtube.png" height="60" width="70"> &nbsp;&nbsp;
            <img src="../assets/images/twitter.png" height="60" width="70">
          </div>
        
    </div>
      </body>
    <!-- <div class="bg" [style.background]="'url(../assets/images/background.png)'">
        <img src="../assets/images/sp.png" class="rounded mx-auto d-block" style="padding-top: 30px">
    </div> -->