
.register-form {
    width: 100%;
  }

.register-full-width {
    margin-top: 120px;
    margin-left: 30px;
    width: 35%;
  }

  .register-full-width1 {
    margin-left: 30px;
    width: 35%;
  }

  .register-full-width2 {
    margin-top: 20px;
    margin-left: 30px;
    width: 35%;
  }